<%= form_for @listing, :html => {:multipart => true} do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <%= f.fields_for :image do |a| %>
    <%= a.label :image %><br>
    <%= a.file_field :image %>
    
    <%= a.label "Delete" %>
    <%= a.check_box "_destroy" %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>